*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box; 
}

body, html {
    margin: 0px;
}

/*System Design Components*/
#h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 88px;
    letter-spacing: 3px;
}

#h2{ 
    font-weight: 700;
    font-size: 30px;
    line-height: 64px;
    letter-spacing: 1.7px;
}

#h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
}

#body{
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: .9px;
}

#date{
    font-weight: 300;
    font-size: 12px;
    line-height: 32px;
}

p{ /*Padding Inbetween Text*/
    padding-bottom: 10px;
}

a{
    color: black;
} 


/*nav bar*/
#navbar {
    padding-top: 0%;
    height: 6rem;
    width: 100%;
    overflow: hidden;
    background-color: lightgreen;
    margin-left: 0%;
    position: fixed;
    justify-content: center;
}

.navlink {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 33px 20px;
    text-decoration: none;
}

.navlink:hover, .linkSelected {
    color: white;
    background-color: green;
}

#login {
    background-color: skyblue;
}

#login:hover, .loginSelected {
    background-color: royalblue;
}

/*Section Divider*/
section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.takeQuiz{
    width: 7rem;
    height: 1.8rem;
    background-color: #333333;
    cursor: pointer;
    border-radius: 8px;
    justify-content: center;
    color:white;
    text-align: center;
    margin-top: 1rem;
}

.takeQuiz:hover{
    transform: translateY(-3px);
    
}

.learnMore{
    margin-top: 1rem;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    color: #FFB3F3;
}

.learnMore:hover{
    color: black;
    transform: translateY(-2px);
}

/*Landing*/
.landing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing div{
    margin-inline: 4rem;
}

.content-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}

.content-section div{
    margin-inline: 4rem;
}

.title{
    width: 40rem;
}

.title-image img{
    width: 80%;
}

.factText{
    width: 40rem;
}

.factsImg img{
    width: 30rem;
}

.findCleaner{
    background-color: #BEFFB3;
    height: 25rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.findCleaner #h1{
    color: white;
}

.findCleaner .takeQuiz{
    background-color: white;
    color: black;
    width: 10rem;
    height: 3rem;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

/*Dt6*/
.dt6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.dt6 div{
    margin-inline: 4rem;
}

.whoAreWe{
    align-items: center;
    justify-content: center;
    background-color: #FFB3F3;
    height: 45rem;
    margin-bottom: 10rem;
}

.whoAreWe #body{
    margin-top: 1rem;
}

.whoAreWe img{
    margin-top: 2rem;
    width: 50rem;
}


